

<%= render 'shared/header' %>



<div class="container">

  <div class="ichi-post-new">

    <%= form_for @ichipost do |f| %>

    <%= f.label :今日のイチ！ %><br>

    <%= f.text_area :content %><br>


    <%= f.submit 'シェアする' %>


    <% end %>



  </div>

</div>



<%= render 'shared/footer' %>
